@model Flight_Management_System.Models.AdminEntities.UserModel
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit Profile</h2>


<form action="/Admin/EditProfile" method="post">
    <input type="hidden" value="@Model.Id" name="Id" class="form-control" />
    <table>


        <tr>
            <th>Name : </th>
            <td>
                <input type="text" value="@Model.Name" name="Name" class="form-control" />
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th>Username : </th>
            <td>
                <input type="text" value="@Model.Username" name="Username" class="form-control" />
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th>Email : </th>
            <td>
                <input type="text" value="@Model.Email" name="Email" class="form-control" />
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th>Phones : </th>
            <td>
                <input type="text" value="@Model.Phone" name="Phone" class="form-control" />
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th>Date of Birth : </th>
            <td>
                <input type="date" value="@Model.DateOfBirth" name="DateOfBirth" class="form-control" />
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th>Address : </th>
            <td>
                <input type="text" value="@Model.Address" name="Address" class="form-control" />
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Update" class="btn btn-danger" /></td>
        </tr>
    </table>

</form>