@model List<Flight_Management_System.Models.AdminEntities.PurchasedTicketModel>
@{
    ViewBag.Title = "PurchasedDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@if (TempData["msg"] != null)
{
    <span class="label-danger">@TempData["msg"]}</span>
}


<table class="table table-bordered">
    <tr>
        <th>Ticket ID</th>
        <th>From</th>
        <th>To</th>
        <th>Start Time</th>
        <th>Seat Details</th>
        <th>Ticket Cost</th>
        <th>Flight Detail</th>
        <th>This Flight Created By</th>
        <th>Operation</th>
    </tr>
    
    @foreach (var pd in Model)
    {
        <tr>
            <td>@pd.Id</td>
            <td>@pd.FromStopageName, @pd.FromStopageCityName, @pd.FromStopageCountryName</td>
            <td>@pd.ToStopageName ,@pd.ToStopageCityName, @pd.ToStopageCountryName</td>
            <td>@pd.StartTime</td>
            <td>No of Seats: @pd.SeatNo<br />Seat Class: @pd.SeatClass<br />Age Class: @pd.AgeClass</td>
            <td>BDT @pd.Cost</td>
            <td>Flight Name:<a href="/Admin/TransportDetails/@pd.TransportId" class="btn btn-success"> @pd.TransportName <br /> Flight Id: @pd.TransportId</a></td>
            <td><a href="/Admin/UserDetails/@pd.TransportCreatedBy" class="btn btn-info">@pd.TransportCreatorName</a></td>



            <td><a href="/Admin/CancelTicket/@pd.PurchasedBy/@pd.Id" class="btn btn-danger">Cancel Ticket</a>
                <form action="/Admin/CancelTicket" method="post">
                    <input type="hidden" name="id" value="@pd.PurchasedBy" />
                    <input type="hidden" name="tid" value="@pd.Id" />
                    <input type="submit" value="Cancel" />
                </form>
            
            
            </td>
            @*<td><a href="" class="btn btn-danger">Edit Ticket</td>*@
        </tr>

    }
</table>




