@model List<Flight_Management_System.Models.AdminEntities.PurchasedTicketModel>
@{
    ViewBag.Title = "PurchasedDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@if (TempData["msg"] != null)
{
    <span class="label-danger">@TempData["msg"]}</span>
}

<table>
    <tr>
        <th>Perchased By</th>
        <th>Ticket ID</th>
        <th>From</th>
        <th>To</th>
        <th>Starte Time</th>
        <th>Seat Details</th>
        <th>Flight Detail</th>
        <th>Operation</th>
    </tr>
    <
    @foreach (var pd in Model)
    {
        <tr>
            <td>@pd.PurchasedByName</td>
            <td>@pd.Id</td>
            <td>@pd.FromStopageCityName, @pd.FromStopageCountryName</td>
            <td>@pd.ToStopageCityName, @pd.ToStopageCountryName</td>
            <td>@pd.StartTime</td>
            <td>No of Seats: @pd.SeatNo<br />Seat Class: @pd.SeatClass<br />Age Class: @pd.AgeClass</td>
            <td>Flight Name: @pd.TransportName<br /><a href="/Admin/TransportDetails/@pd.TransportId" class="btn-success">Flight Id: @pd.TransportId</a></td>
            <td><a href="/Admin/CacelTicket/@pd.Id" class="btn btn-danger">Cancel Ticket</td>
        </tr>

    }
</table>




