@model Flight_Management_System.Models.FlightManagerEntities.TransportScheduleModel

@{
    ViewBag.Title = "AddAircraftSchedule";
    Layout = "~/Views/Shared/_FlightManagerLayout.cshtml";
}
@using Flight_Management_System.Models.Database;
@{
    Flight_ManagementEntities db = new Flight_ManagementEntities();
    var stopages = db.Stopages.ToList();

    var transportDetails = db.Transports.Where(t => t.Id == Model.TransportId).First();

}

<h2>AddAircraftSchedule</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Add Transport Schedule - @transportDetails.Name</h4>
        <h5>Max capacity - @transportDetails.MaximumSeat</h5>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <span class="text-danger">@TempData["msg"]</span>
        <div class="form-group">
            @Html.LabelFor(model => model.Day, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Day">
                    <option value="Sunday">Sunday</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                </select>
            </div>
        </div>

        <input name="TransportId" hidden value="@Model.TransportId"/>

        <div class="form-group">
            <label class="control-label col-md-2">Time</label>
            <div class="col-md-10">
                <div class="col-md-10">
                    <select name="TimeH">
                        @foreach (var hour in Enumerable.Range(0, 23))
                        {
                            <option value="@hour">@(hour.ToString("D2"))</option>
                        }
                    </select>
                    <select name="TimeM">
                        @foreach (var min in Enumerable.Range(0, 59))
                        {
                            <option value="@min">@(min.ToString("D2"))</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        
        <div class="form-group">
            <label class="control-label col-md-2">From Airport</label>
            <div class="col-md-10">
                <select name="FromStopageId">
                    @foreach (var airport in stopages)
                    {
                        <option value="@airport.Id">@airport.Name</option>
                    }
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-2">To Airport</label>
            <div class="col-md-10">
                <select name="ToStopageId">
                    @foreach (var airport in stopages)
                    {
                        <option value="@airport.Id">@airport.Name</option>
                    }
                </select>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
