@model List<Flight_Management_System.Models.FlightManagerEntities.AirlineModel>

@{
    ViewBag.Title = "Flight Manager Dashboard";
    Layout = "~/Views/Shared/_FlightManagerLayout.cshtml";
}
<div class="container">
    <h2>Flight Manager Dashboard</h2>

    <a href="/FlightManager/AddAircraft" class="navbar-link">Add New</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Aircraft Name</th>
                <th>Schedules</th>
                <th>Capacity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                @foreach (var schedule in item.TransportSchedules)
                {
                    <span> @schedule.FromAirport, @schedule.FromCity, @schedule.FromCountry to @schedule.ToAirport, @schedule.ToCity, @schedule.ToCountry - @schedule.Day - @(((int)schedule.Time/100).ToString("D2")):@((schedule.Time%100).ToString("D2")) </span>
                    <a href="/FlightManager/DeleteAircraftSchedule/@schedule.Id" class="navbar-link">Delete</a>
                    <br/>
                }
                </td>
                <td>@item.SeatCapacity</td>
                <td>
                    <a class="navbar-link" href="/FlightManager/AddAircraftSchedule/@item.Id">Add Schedule</a>
                    <a class="navbar-link" href="/FlightManager/DeleteAircraft/@item.Id">Delete Aircraft</a>
                </td>
                </tr>
            }
        </tbody>
    </table>
</div>